html 
head 
   title EXPRESS 
   style.
      body {
         background-color: black ;
         opacity:0.7;
         color:white;
      }
      input{
        margin-left:640px;
        padding-bottom:10px;
        display:flex;
        flex-direction: column;
        border: solid,white,4px;
      }
      label{
       display:flex;
       flex-direction: column;
       margin-left:440px;
       
       
      }
      button{
        margin-left:580px;
        margin-top:50px;
        margin-bottom:20px;
      }
      textarea{
         margin-left:440px;
         margin-top:20px;
         width:380px;
      }
     
body 
   nav 
     ul(style="display:flex ; width:1000px ;  justify-content: space-around ;  list-style: none; background-color: cadetblue ;padding-top:30px ; height:50px ;margin-left: 150px") 
       li  Home 
       li  Our Services 
       li  Contact us  

.form
label(for="first name") first name
input(type="text")

label(for="first name") last name
input(type="text")

label(for="first name") phone 
input(type="text")

label(for="first name") E-mail
input(type="text")

label(for="first name") adress
input(type="text")

label(for="first name") city
input(type="text")

label(for="first name") sujet 
input(type="text")

label(for="") message 
textarea(name="", cols="30", rows="10")

br
button send