html 
head 
   title EXPRESS 
  
body(style="background-color: black ; opacity:0.7") 
   nav
     ul(style="display:flex ; width:1000px ;  justify-content: space-around ;  list-style: none; background-color: cadetblue ;padding-top:30px ; height:50px ;margin-left: 150px")
       li  Home 
       li  Our Services 
       li  Contact us  
img(src="https://www.redacteur.com/blog/wp-content/uploads/2018/06/PAGE-ACCUEIL-ECOMMERCE-740x522.jpg", alt="image" ,style="size:1100px;margin-left:300px")



