html 
head 
   title EXPRESS 
   style.
        body {
          background-color: black;
          color:white;
          opacity:0.7;
        } 
        .des{
              text-align: center;
              width:350px;
              padding-left:790px;
        }
        .dess{
           text-align: center;
              width:350px;
              padding-left:150px;
        }
        .top{
            text-align:center;
            margin:30px;
            text-align: center;
            font-size: 35px;
            width:1000px;
            padding-left:130px;
        }
body 
   nav
     ul(style="display:flex ; width:1000px ;  justify-content: space-around ;  list-style: none; background-color: cadetblue ;padding-top:30px ; height:50px ;margin-left: 150px") 
       li
        a(href="/") Home
       li  
        a(href="/ourservices") Our Services 
       li 
       a(href="/contactus") Contact us    
p.top Our Services find out about the free support and guidance we offer to businesses across Scotland.


img.des(src="https://www.bgateway.com/assets/images/header/_splitHeader/coronavirus-resource-hub-header.jpg", alt="imagehead" , style="width:400px;height:300px") 
p.des Find out how we can help your business through the coronavirus Business Gateway is here to help Scottish businesses get through the coronavirus (COVID-19) pandemic. We have local offices and experienced advisers across Scotland working with thousands of businesses. Plus we have free online support, guides, and the latest news on funding and grants.

img(src="https://www.bgateway.com/assets/images/header/_splitHeader/215FEB19-BG-Business-stat-map-extended.jpg", alt="imghead" ,style="width:400px;height:300px ;padding-left:150px")
p.dess Local Office Business Support Business Gateway has local offices all over Scotland. We’ll combine your knowledge and drive to succeed with sound business advice, access to market intelligence and our extensive network of contacts
